In [63]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
#https://archive.ics.uci.edu/ml/datasets/Appliances+energy+prediction#

In [33]:
def EDALUCIO (df, order):
    eda_df = {}
    eda_df['Amount_NaN'] = df.isnull().sum()
    eda_df['%_NaN'] = df.isnull().mean().round(2)
    eda_df['DType'] = df.dtypes
    eda_df['Amount_Data'] = df.count()
    
    if order == True:
        colunas = sorted(df.columns.tolist(), key=str.lower, reverse=False)
    else:
        colunas = df.columns.tolist()
    eda_df['Amount_Unique'] = filtered_result = list(map(lambda x: len(df[x].unique().tolist()), colunas))
    
    eda_df['Mean'] = np.round(df.mean(), 2)
    eda_df['Median'] = np.round(df.median(), 2)
    
    eda_df['Max'] = df.max()
    eda_df['Min'] = df.min()
    eda_df['STD'] = np.round(df.std(), 2)
    
    return pd.DataFrame(eda_df)

In [40]:

df = pd.read_csv('data/energydata_complete.csv')
df.head()
EDALUCIO(df, True)

,Amount_NaN,%_NaN,DType,Amount_Data,Amount_Unique,Mean,Median,Max,Min,STD
Appliances,0,0.0,int64,19735,92,97.69,60.00,1080,10,102.52
Press_mm_hg,0,0.0,float64,19735,19735,755.52,756.10,772.3,729.3,7.40
RH_1,0,0.0,float64,19735,8,40.26,39.66,63.36,27.0233,3.98
RH_2,0,0.0,float64,19735,2189,40.42,40.50,56.0267,20.4633,4.07
RH_3,0,0.0,float64,19735,2547,39.24,38.53,50.1633,28.7667,3.25
RH_4,0,0.0,float64,19735,3376,39.03,38.40,51.09,27.66,4.34
RH_5,0,0.0,float64,19735,2618,50.95,49.09,96.3217,29.815,9.02
RH_6,0,0.0,float64,19735,2987,54.61,55.29,99.9,1,31.15
RH_7,0,0.0,float64,19735,7571,35.39,34.86,51.4,23.2,5.11
RH_8,0,0.0,float64,19735,9709,42.94,42.38,58.78,29.6,5.22
RH_9,0,0.0,float64,19735,5891,41.55,40.90,53.3267,29.1667,4.15
RH_out,0,0.0,float64,19735,6649,79.75,83.67,100,24,14.90
T1,0,0.0,float64,19735,3388,21.69,21.60,26.26,16.79,1.61
T2,0,0.0,float64,19735,566,20.34,20.00,29.8567,16.1,2.19
T3,0,0.0,float64,19735,19735,22.27,22.10,29.236,17.2,2.01
T4,0,0.0,float64,19735,19735,20.86,20.67,26.2,15.1,2.04
T5,0,0.0,float64,19735,722,19.59,19.39,25.795,15.33,1.84
T6,0,0.0,float64,19735,1650,7.91,7.30,28.29,-6.065,6.09
T7,0,0.0,float64,19735,1426,20.27,20.03,26,15.39,2.11
T8,0,0.0,float64,19735,1390,22.03,22.10,27.23,16.3067,1.96
T9,0,0.0,float64,19735,2263,19.49,19.39,24.5,14.89,2.01
T_out,0,0.0,float64,19735,4446,7.41,6.92,26.1,-5,5.32
Tdewpoint,0,0.0,float64,19735,1955,3.76,3.43,15.5,-6.6,4.19
Visibility,0,0.0,float64,19735,2228,38.33,40.00,66,1,11.79
Windspeed,0,0.0,float64,19735,924,4.04,3.67,14,0,2.45
date,0,0.0,object,19735,1730,NaN,NaN,2016-05-27 18:00:00,2016-01-11 17:00:00,NaN
lights,0,0.0,int64,19735,1409,3.80,0.00,70,0,7.94
rv1,0,0.0,float64,19735,413,24.99,24.90,49.9965,0.00532168,14.50
rv2,0,0.0,float64,19735,189,24.99,24.90,49.9965,0.00532168,14.50

### Dataset information

date time year-month-day hour:minute:second</br>
Appliances, energy use in Wh</br>
lights, energy use of light fixtures in the house in Wh</br>
T1, Temperature in kitchen area, in Celsius</br>
RH_1, Humidity in kitchen area, in %</br>
T2, Temperature in living room area, in Celsius</br>
RH_2, Humidity in living room area, in %</br>
T3, Temperature in laundry room area</br>
RH_3, Humidity in laundry room area, in %</br>
T4, Temperature in office room, in Celsius</br>
RH_4, Humidity in office room, in %</br>
T5, Temperature in bathroom, in Celsius</br>
RH_5, Humidity in bathroom, in %</br>
T6, Temperature outside the building (north side), in Celsius</br>
RH_6, Humidity outside the building (north side), in %</br>
T7, Temperature in ironing room , in Celsius</br>
RH_7, Humidity in ironing room, in %</br>
T8, Temperature in teenager room 2, in Celsius</br>
RH_8, Humidity in teenager room 2, in %</br>
T9, Temperature in parents room, in Celsius</br>
RH_9, Humidity in parents room, in %</br>
To, Temperature outside (from Chievres weather station), in Celsius</br>
Pressure (from Chievres weather station), in mm Hg</br>
RH_out, Humidity outside (from Chievres weather station), in %</br>
Wind speed (from Chievres weather station), in m/s</br>
Visibility (from Chievres weather station), in km</br>
Tdewpoint (from Chievres weather station), Â°C</br>
rv1, Random variable 1, nondimensional</br>
rv2, Random variable 2, nondimensional</br>
</br>
Where indicated, hourly data (then interpolated) from the nearest airport weather station (Chievres Airport, Belgium) was downloaded from a public data set from Reliable Prognosis, rp5.ru. Permission was obtained from Reliable Prognosis for the distribution of the 4.5 months of weather data.

In [44]:
justDate    = df["date"].str.split(" ").str[0]
justTime    = df["date"].str.split(" ").str[1]
splitDate   = justDate.str.split("-")
splitTime   = justTime.str.split(":")
df["hour"]  = splitTime.str[0].astype(int)
df["min"]   = splitTime.str[1].astype(int)
df["day"]   = splitDate.str[2].astype(int)
df["month"] = splitDate.str[1].astype(int)
df["year"]  = splitDate.str[0].astype(int)


df[["year","month","day","hour", "min"]]
del df["date"]

In [38]:
EDALUCIO(df, True)

,Amount_NaN,%_NaN,DType,Amount_Data,Amount_Unique,Mean,Median,Max,Min,STD
Appliances,0,0.0,int64,19735,92,97.69,60.00,1080,10,102.52
Press_mm_hg,0,0.0,float64,19735,31,755.52,756.10,772.3,729.3,7.40
RH_1,0,0.0,float64,19735,24,40.26,39.66,63.36,27.0233,3.98
RH_2,0,0.0,float64,19735,8,40.42,40.50,56.0267,20.4633,4.07
RH_3,0,0.0,float64,19735,6,39.24,38.53,50.1633,28.7667,3.25
RH_4,0,0.0,float64,19735,5,39.03,38.40,51.09,27.66,4.34
RH_5,0,0.0,float64,19735,2189,50.95,49.09,96.3217,29.815,9.02
RH_6,0,0.0,float64,19735,2547,54.61,55.29,99.9,1,31.15
RH_7,0,0.0,float64,19735,3376,35.39,34.86,51.4,23.2,5.11
RH_8,0,0.0,float64,19735,2618,42.94,42.38,58.78,29.6,5.22
RH_9,0,0.0,float64,19735,2987,41.55,40.90,53.3267,29.1667,4.15
RH_out,0,0.0,float64,19735,7571,79.75,83.67,100,24,14.90
T1,0,0.0,float64,19735,9709,21.69,21.60,26.26,16.79,1.61
T2,0,0.0,float64,19735,5891,20.34,20.00,29.8567,16.1,2.19
T3,0,0.0,float64,19735,6649,22.27,22.10,29.236,17.2,2.01
T4,0,0.0,float64,19735,3388,20.86,20.67,26.2,15.1,2.04
T5,0,0.0,float64,19735,566,19.59,19.39,25.795,15.33,1.84
T6,0,0.0,float64,19735,19735,7.91,7.30,28.29,-6.065,6.09
T7,0,0.0,float64,19735,19735,20.27,20.03,26,15.39,2.11
T8,0,0.0,float64,19735,722,22.03,22.10,27.23,16.3067,1.96
T9,0,0.0,float64,19735,1650,19.49,19.39,24.5,14.89,2.01
T_out,0,0.0,float64,19735,1426,7.41,6.92,26.1,-5,5.32
Tdewpoint,0,0.0,float64,19735,1390,3.76,3.43,15.5,-6.6,4.19
Visibility,0,0.0,float64,19735,2263,38.33,40.00,66,1,11.79
Windspeed,0,0.0,float64,19735,4446,4.04,3.67,14,0,2.45
day,0,0.0,object,19735,1955,inf,16.00,31,01,NaN
hour,0,0.0,object,19735,2228,inf,12.00,23,00,NaN
lights,0,0.0,int64,19735,924,3.80,0.00,70,0,7.94
min,0,0.0,object,19735,1730,inf,20.00,50,00,NaN
month,0,0.0,object,19735,1409,inf,3.00,05,01,NaN
rv1,0,0.0,float64,19735,413,24.99,24.90,49.9965,0.00532168,14.50
rv2,0,0.0,float64,19735,189,24.99,24.90,49.9965,0.00532168,14.50
year,0,0.0,object,19735,1,inf,2016.00,2016,2016,NaN

In [45]:
treino_df = df.loc[df['month'] <= 4]
y_treino_rv1 = treino_df['rv1']
y_treino_rv2 = treino_df['rv2']
##Perguntar para o Lúcio pq ele retirou a semana do exercício nesta parte
del treino_df['rv1']
del treino_df['rv2']

In [47]:
teste_df = df.loc[(df['month'] == 5)]
y_teste_rv1 = teste_df['rv1']
y_teste_rv2 = teste_df['rv2']
del teste_df['rv1']
del teste_df['rv2']

In [68]:
#definir o scaler
scaler = preprocessing.StandardScaler().fit(treino_df.values)

#transformar o dado
x_train_norm = scaler.transform(treino_df.values)
x_test_norm = scaler.transform(teste_df.values)

In [69]:
reg = LinearRegression().fit(x_train_norm, y_treino_rv1)

reg.score(x_train_norm, y_treino_rv1)

0.001568344742229999

In [70]:
y_pred = reg.predict(x_test_norm)
r2_score(y_teste_rv1, y_pred)

-0.005329050777700628