In [63]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
#https://archive.ics.uci.edu/ml/datasets/Appliances+energy+prediction#

In [153]:
def EDALUCIO (df, order):
    eda_df = {}
    eda_df['Amount_NaN'] = df.isnull().sum()
    eda_df['%_NaN'] = df.isnull().mean().round(2)
    eda_df['DType'] = df.dtypes
    eda_df['Amount_Data'] = df.count()
    
    if order == True:
        colunas = sorted(df.columns.tolist(), key=str.lower, reverse=False)
    else:
        colunas = df.columns.tolist()
    eda_df['Amount_Unique'] = filtered_result = list(map(lambda x: len(df[x].unique().tolist()), colunas))
    
    eda_df['Mean'] = np.round(df.mean(), 2)
    eda_df['Median'] = np.round(df.median(), 2)
    
    eda_df['Max'] = df.max()
    eda_df['Min'] = df.min()
    eda_df['STD'] = np.round(df.std(), 2)
    
    return pd.DataFrame(eda_df)

In [154]:

df = pd.read_csv('data/energydata_complete.csv')
df.head()
EDALUCIO(df, True)

,Amount_NaN,%_NaN,DType,Amount_Data,Amount_Unique,Mean,Median,Max,Min,STD
Appliances,0,0.0,int64,19735,92,97.69,60.00,1080,10,102.52
Press_mm_hg,0,0.0,float64,19735,19735,755.52,756.10,772.3,729.3,7.40
RH_1,0,0.0,float64,19735,8,40.26,39.66,63.36,27.0233,3.98
RH_2,0,0.0,float64,19735,2189,40.42,40.50,56.0267,20.4633,4.07
RH_3,0,0.0,float64,19735,2547,39.24,38.53,50.1633,28.7667,3.25
RH_4,0,0.0,float64,19735,3376,39.03,38.40,51.09,27.66,4.34
RH_5,0,0.0,float64,19735,2618,50.95,49.09,96.3217,29.815,9.02
RH_6,0,0.0,float64,19735,2987,54.61,55.29,99.9,1,31.15
RH_7,0,0.0,float64,19735,7571,35.39,34.86,51.4,23.2,5.11
RH_8,0,0.0,float64,19735,9709,42.94,42.38,58.78,29.6,5.22
RH_9,0,0.0,float64,19735,5891,41.55,40.90,53.3267,29.1667,4.15
RH_out,0,0.0,float64,19735,6649,79.75,83.67,100,24,14.90
T1,0,0.0,float64,19735,3388,21.69,21.60,26.26,16.79,1.61
T2,0,0.0,float64,19735,566,20.34,20.00,29.8567,16.1,2.19
T3,0,0.0,float64,19735,19735,22.27,22.10,29.236,17.2,2.01
T4,0,0.0,float64,19735,19735,20.86,20.67,26.2,15.1,2.04
T5,0,0.0,float64,19735,722,19.59,19.39,25.795,15.33,1.84
T6,0,0.0,float64,19735,1650,7.91,7.30,28.29,-6.065,6.09
T7,0,0.0,float64,19735,1426,20.27,20.03,26,15.39,2.11
T8,0,0.0,float64,19735,1390,22.03,22.10,27.23,16.3067,1.96
T9,0,0.0,float64,19735,2263,19.49,19.39,24.5,14.89,2.01
T_out,0,0.0,float64,19735,4446,7.41,6.92,26.1,-5,5.32
Tdewpoint,0,0.0,float64,19735,1955,3.76,3.43,15.5,-6.6,4.19
Visibility,0,0.0,float64,19735,2228,38.33,40.00,66,1,11.79
Windspeed,0,0.0,float64,19735,924,4.04,3.67,14,0,2.45
date,0,0.0,object,19735,1730,NaN,NaN,2016-05-27 18:00:00,2016-01-11 17:00:00,NaN
lights,0,0.0,int64,19735,1409,3.80,0.00,70,0,7.94
rv1,0,0.0,float64,19735,413,24.99,24.90,49.9965,0.00532168,14.50
rv2,0,0.0,float64,19735,189,24.99,24.90,49.9965,0.00532168,14.50

### Dataset information

date time year-month-day hour:minute:second</br>
Appliances, energy use in Wh</br>
lights, energy use of light fixtures in the house in Wh</br>
T1, Temperature in kitchen area, in Celsius</br>
RH_1, Humidity in kitchen area, in %</br>
T2, Temperature in living room area, in Celsius</br>
RH_2, Humidity in living room area, in %</br>
T3, Temperature in laundry room area</br>
RH_3, Humidity in laundry room area, in %</br>
T4, Temperature in office room, in Celsius</br>
RH_4, Humidity in office room, in %</br>
T5, Temperature in bathroom, in Celsius</br>
RH_5, Humidity in bathroom, in %</br>
T6, Temperature outside the building (north side), in Celsius</br>
RH_6, Humidity outside the building (north side), in %</br>
T7, Temperature in ironing room , in Celsius</br>
RH_7, Humidity in ironing room, in %</br>
T8, Temperature in teenager room 2, in Celsius</br>
RH_8, Humidity in teenager room 2, in %</br>
T9, Temperature in parents room, in Celsius</br>
RH_9, Humidity in parents room, in %</br>
To, Temperature outside (from Chievres weather station), in Celsius</br>
Pressure (from Chievres weather station), in mm Hg</br>
RH_out, Humidity outside (from Chievres weather station), in %</br>
Wind speed (from Chievres weather station), in m/s</br>
Visibility (from Chievres weather station), in km</br>
Tdewpoint (from Chievres weather station), Â°C</br>
rv1, Random variable 1, nondimensional</br>
rv2, Random variable 2, nondimensional</br>
</br>
Where indicated, hourly data (then interpolated) from the nearest airport weather station (Chievres Airport, Belgium) was downloaded from a public data set from Reliable Prognosis, rp5.ru. Permission was obtained from Reliable Prognosis for the distribution of the 4.5 months of weather data.

In [229]:
justDate    = df["date"].str.split(" ").str[0]
justTime    = df["date"].str.split(" ").str[1]
splitDate   = justDate.str.split("-")
splitTime   = justTime.str.split(":")
df["hour"]  = splitTime.str[0].astype(int)
df["min"]   = splitTime.str[1].astype(int)
df["day"]   = splitDate.str[2].astype(int)
df["month"] = splitDate.str[1].astype(int)
df["year"]  = splitDate.str[0].astype(int)


df[["year","month","day","hour", "min"]]
del df["date"]

KeyError: 'date'

In [231]:
df.groupby(["month"]).count()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2,hour,min,day,year
month,,,,,,,,,,,,,,,,,,,,,
1,2922,2922,2922,2922,2922,2922,2922,2922,2922,2922,...,2922,2922,2922,2922,2922,2922,2922,2922,2922,2922
2,4176,4176,4176,4176,4176,4176,4176,4176,4176,4176,...,4176,4176,4176,4176,4176,4176,4176,4176,4176,4176
3,4464,4464,4464,4464,4464,4464,4464,4464,4464,4464,...,4464,4464,4464,4464,4464,4464,4464,4464,4464,4464
4,4320,4320,4320,4320,4320,4320,4320,4320,4320,4320,...,4320,4320,4320,4320,4320,4320,4320,4320,4320,4320
5,3853,3853,3853,3853,3853,3853,3853,3853,3853,3853,...,3853,3853,3853,3853,3853,3853,3853,3853,3853,3853

In [156]:

EDALUCIO(df, True)

,Amount_NaN,%_NaN,DType,Amount_Data,Amount_Unique,Mean,Median,Max,Min,STD
Appliances,0,0.0,int64,19735,92,97.69,60.00,1080.000000,10.000000,102.52
lights,0,0.0,int64,19735,31,3.80,0.00,70.000000,0.000000,7.94
T1,0,0.0,float64,19735,24,21.69,21.60,26.260000,16.790000,1.61
RH_1,0,0.0,float64,19735,8,40.26,39.66,63.360000,27.023333,3.98
T2,0,0.0,float64,19735,6,20.34,20.00,29.856667,16.100000,2.19
RH_2,0,0.0,float64,19735,5,40.42,40.50,56.026667,20.463333,4.07
T3,0,0.0,float64,19735,2189,22.27,22.10,29.236000,17.200000,2.01
RH_3,0,0.0,float64,19735,2547,39.24,38.53,50.163333,28.766667,3.25
T4,0,0.0,float64,19735,3376,20.86,20.67,26.200000,15.100000,2.04
RH_4,0,0.0,float64,19735,2618,39.03,38.40,51.090000,27.660000,4.34
T5,0,0.0,float64,19735,2987,19.59,19.39,25.795000,15.330000,1.84
RH_5,0,0.0,float64,19735,7571,50.95,49.09,96.321667,29.815000,9.02
T6,0,0.0,float64,19735,9709,7.91,7.30,28.290000,-6.065000,6.09
RH_6,0,0.0,float64,19735,5891,54.61,55.29,99.900000,1.000000,31.15
T7,0,0.0,float64,19735,6649,20.27,20.03,26.000000,15.390000,2.11
RH_7,0,0.0,float64,19735,3388,35.39,34.86,51.400000,23.200000,5.11
T8,0,0.0,float64,19735,566,22.03,22.10,27.230000,16.306667,1.96
RH_8,0,0.0,float64,19735,19735,42.94,42.38,58.780000,29.600000,5.22
T9,0,0.0,float64,19735,19735,19.49,19.39,24.500000,14.890000,2.01
RH_9,0,0.0,float64,19735,722,41.55,40.90,53.326667,29.166667,4.15
T_out,0,0.0,float64,19735,1650,7.41,6.92,26.100000,-5.000000,5.32
Press_mm_hg,0,0.0,float64,19735,1426,755.52,756.10,772.300000,729.300000,7.40
RH_out,0,0.0,float64,19735,1390,79.75,83.67,100.000000,24.000000,14.90
Windspeed,0,0.0,float64,19735,2263,4.04,3.67,14.000000,0.000000,2.45
Visibility,0,0.0,float64,19735,4446,38.33,40.00,66.000000,1.000000,11.79
Tdewpoint,0,0.0,float64,19735,1955,3.76,3.43,15.500000,-6.600000,4.19
rv1,0,0.0,float64,19735,2228,24.99,24.90,49.996530,0.005322,14.50
rv2,0,0.0,float64,19735,924,24.99,24.90,49.996530,0.005322,14.50
hour,0,0.0,int64,19735,1730,11.50,12.00,23.000000,0.000000,6.92
min,0,0.0,int64,19735,1409,25.00,20.00,50.000000,0.000000,17.08
day,0,0.0,int64,19735,413,16.06,16.00,31.000000,1.000000,8.45
month,0,0.0,int64,19735,189,3.10,3.00,5.000000,1.000000,1.34
year,0,0.0,int64,19735,1,2016.00,2016.00,2016.000000,2016.000000,0.00

In [245]:

def regressao(treino_df, teste_df, str_target):
   
    y_treino_rv1 = treino_df[str_target]
    #y_treino_rv2 = treino_df['rv2']
    ##Perguntar para o Lúcio pq ele retirou a semana do exercício nesta parte
    del treino_df['rv1']
    del treino_df['rv2']
    
    y_teste_rv1 = teste_df[str_target]
    #y_teste_rv2 = teste_df['rv2']
    del teste_df['rv1']
    del teste_df['rv2']
        #definir o scaler
    scaler = preprocessing.RobustScaler().fit(treino_df.values)

    #transformar o dado
    x_train_norm = scaler.transform(treino_df.values)
    x_test_norm = scaler.transform(teste_df.values)
    reg = LinearRegression().fit(x_train_norm, y_treino_rv1)
    reg.score(x_train_norm, y_treino_rv1)
    x_pred = reg.predict(x_train_norm)
    sr2a = r2_score(y_treino_rv1, x_pred)
    y_pred = reg.predict(x_test_norm)
    sr2b = r2_score(y_teste_rv1, y_pred)
    print(sr2a, sr2b)
    return reg

In [246]:
treino_df = df.loc[df['month'] < 5]
teste_df  = df.loc[df['month'] == 5]
reg0 = regressao(treino_df, teste_df, 'rv2')
#reg.score(x_train_norm, y_treino_rv1)
#y_pred = reg.predict(x_test_norm)
#r2_score(y_teste_rv1, y_pred)

0.001568344742229999 -0.005329050777700628

In [247]:
def getImportant(reg, teste_df):
    # importância das features
    importance_df = pd.DataFrame()
    importance_df['colunas'] = teste_df.columns.tolist()
    importance_df['importancia'] = list(reg.coef_)
    importance_df['importancia_abs'] = np.abs(list(reg.coef_))
    importance_df = importance_df.sort_values(by='importancia_abs', ascending=False)
    del importance_df['importancia_abs']

    importantFeatures = importance_df.loc[importance_df["importancia"] < 0.1]
    print(importantFeatures)
    return importantFeatures["colunas"]

In [248]:
print(getImportant(reg, teste_df))

        colunas  importancia
25    Tdewpoint    -1.805558
12           T6    -0.858667
10           T5    -0.626243
19         RH_9    -0.435429
2            T1    -0.289022
11         RH_5    -0.257347
23    Windspeed    -0.206954
9          RH_4    -0.198686
26         hour    -0.173161
16           T8    -0.169894
7          RH_3    -0.145961
5          RH_2    -0.101422
24   Visibility    -0.077069
1        lights     0.068577
14           T7    -0.039962
27          min    -0.035306
21  Press_mm_hg    -0.025994
0    Appliances    -0.020138
30         year     0.000000
25      Tdewpoint
12             T6
10             T5
19           RH_9
2              T1
11           RH_5
23      Windspeed
9            RH_4
26           hour
16             T8
7            RH_3
5            RH_2
24     Visibility
1          lights
14             T7
27            min
21    Press_mm_hg
0      Appliances
30           year
Name: colunas, dtype: object

In [249]:
important_features = getImportant(reg, teste_df)
new_df = df.drop(important_features, axis = 1)

        colunas  importancia
25    Tdewpoint    -1.805558
12           T6    -0.858667
10           T5    -0.626243
19         RH_9    -0.435429
2            T1    -0.289022
11         RH_5    -0.257347
23    Windspeed    -0.206954
9          RH_4    -0.198686
26         hour    -0.173161
16           T8    -0.169894
7          RH_3    -0.145961
5          RH_2    -0.101422
24   Visibility    -0.077069
1        lights     0.068577
14           T7    -0.039962
27          min    -0.035306
21  Press_mm_hg    -0.025994
0    Appliances    -0.020138
30         year     0.000000

In [250]:
new_df.describe()

,RH_1,T2,T3,T4,RH_6,RH_7,RH_8,T9,T_out,RH_out,rv1,rv2,day,month
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,40.259739,20.341219,22.267611,20.855335,54.609083,35.388200,42.936165,19.485828,7.411665,79.750418,24.988033,24.988033,16.057411,3.101647
std,3.979299,2.192974,2.006111,2.042884,31.149806,5.114208,5.224361,2.014712,5.317409,14.901088,14.496634,14.496634,8.450998,1.339200
min,27.023333,16.100000,17.200000,15.100000,1.000000,23.200000,29.600000,14.890000,-5.000000,24.000000,0.005322,0.005322,1.000000,1.000000
25%,37.333333,18.790000,20.790000,19.530000,30.025000,31.500000,39.066667,18.000000,3.666667,70.333333,12.497889,12.497889,9.000000,2.000000
50%,39.656667,20.000000,22.100000,20.666667,55.290000,34.863333,42.375000,19.390000,6.916667,83.666667,24.897653,24.897653,16.000000,3.000000
75%,43.066667,21.500000,23.290000,22.100000,83.226667,39.000000,46.536000,20.600000,10.408333,91.666667,37.583769,37.583769,23.000000,4.000000
max,63.360000,29.856667,29.236000,26.200000,99.900000,51.400000,58.780000,24.500000,26.100000,100.000000,49.996530,49.996530,31.000000,5.000000

In [251]:
treino_df = new_df.loc[df['month'] < 5]
teste_df  = new_df.loc[df['month'] >= 5]
reg1 = regressao(treino_df, teste_df, 'rv1')

0.0005213944808648563 0.0011384944699950328